[국가 통계포털_ 행정구역(시군구)별, 성별 인구수]

https://kosis.kr/statHtml/statHtml.do?orgId=101&tblId=DT_1B040A3&vw_cd=MT_ZTITLE&list_id=A_7&seqNo=&lang_mode=ko&language=kor&obj_var_id=&itm_id=&conn_path=MT_ZTITLE

## 구글 코랩에서 한글 문제 해결
 - 아래코드 설치를 한다.
 -코랩 런타임 -> 런타임 다시시작한다.

In [1]:
!sudo apt-get install -y fonts-nanum
!sudo fc-cache -fv
!rm ~/.cache/matplotlib -rf

Reading package lists... Done
Building dependency tree... Done
Reading state information... Done
The following NEW packages will be installed:
  fonts-nanum
0 upgraded, 1 newly installed, 0 to remove and 15 not upgraded.
Need to get 10.3 MB of archives.
After this operation, 34.1 MB of additional disk space will be used.
Get:1 http://archive.ubuntu.com/ubuntu jammy/universe amd64 fonts-nanum all 20200506-1 [10.3 MB]
Fetched 10.3 MB in 1s (19.3 MB/s)
debconf: unable to initialize frontend: Dialog
debconf: (No usable dialog-like program is installed, so the dialog based frontend cannot be used. at /usr/share/perl5/Debconf/FrontEnd/Dialog.pm line 78, <> line 1.)
debconf: falling back to frontend: Readline
debconf: unable to initialize frontend: Readline
debconf: (This frontend requires a controlling tty.)
debconf: falling back to frontend: Teletype
dpkg-preconfigure: unable to re-open stdin:
Selecting previously unselected package fonts-nanum.
(Reading database ... 120882 files and directories currently installed.)
Preparing to unpack .../fonts-nanum_20200506-1_all.deb ...
Unpacking fonts-nanum (20200506-1) ...
Setting up fonts-nanum (20200506-1) ...
Processing triggers for fontconfig (2.13.1-4.2ubuntu5) ...
/usr/share/fonts: caching, new cache contents: 0 fonts, 1 dirs
/usr/share/fonts/truetype: caching, new cache contents: 0 fonts, 3 dirs
/usr/share/fonts/truetype/humor-sans: caching, new cache contents: 1 fonts, 0 dirs
/usr/share/fonts/truetype/liberation: caching, new cache contents: 16 fonts, 0 dirs
/usr/share/fonts/truetype/nanum: caching, new cache contents: 12 fonts, 0 dirs
/usr/local/share/fonts: caching, new cache contents: 0 fonts, 0 dirs
/root/.local/share/fonts: skipping, no such directory
/root/.fonts: skipping, no such directory
/usr/share/fonts/truetype: skipping, looped directory detected
/usr/share/fonts/truetype/humor-sans: skipping, looped directory detected
/usr/share/fonts/truetype/liberation: skipping, looped directory detected
/usr/share/fonts/truetype/nanum: skipping, looped directory detected
/var/cache/fontconfig: cleaning cache directory
/root/.cache/fontconfig: not cleaning non-existent cache directory
/root/.fontconfig: not cleaning non-existent cache directory
fc-cache: succeeded

구글 드라이브 연동

In [1]:
from google.colab import drive
drive.mount('/content/drive')

%cd  '/content/drive/MyDrive/001'

Mounted at /content/drive
/content/drive/MyDrive/001

## import

In [3]:
import numpy as np
import pandas as pd
import matplotlib as mp
import matplotlib.pyplot as plt
import seaborn as ans

In [6]:
df_kosis= pd.read_csv('./001_1/행정구역_시군구_별__성별_인구수_20231130171254.csv', encoding='cp949')
df_kosis.head()

,행정구역(시군구)별,2011.01,2011.01.1,2011.01.2,2011.02,2011.02.1,2011.02.2,2011.03,2011.03.1,2011.03.2,...,2023.07.2,2023.08,2023.08.1,2023.08.2,2023.09,2023.09.1,2023.09.2,2023.10,2023.10.1,2023.10.2
0,행정구역(시군구)별,총인구수 (명),남자인구수 (명),여자인구수 (명),총인구수 (명),남자인구수 (명),여자인구수 (명),총인구수 (명),남자인구수 (명),여자인구수 (명),...,여자인구수 (명),총인구수 (명),남자인구수 (명),여자인구수 (명),총인구수 (명),남자인구수 (명),여자인구수 (명),총인구수 (명),남자인구수 (명),여자인구수 (명)
1,전국,50534731,25318961,25215770,50555262,25328299,25226963,50575130,25337290,25237840,...,25783986,51377213,25596921,25780292,51370001,25592335,25777666,51354226,25582773,25771453
2,서울특별시,10312835,5110837,5201998,10314245,5110818,5203427,10307783,5107011,5200772,...,4855476,9409466,4554020,4855446,9407540,4552501,4855039,9400249,4548150,4852099
3,부산광역시,3566560,1772383,1794177,3566480,1772175,1794305,3564873,1770952,1793921,...,1693093,3302740,1610738,1692002,3300836,1609650,1691186,3298213,1608156,1690057
4,대구광역시,2512071,1255238,1256833,2512321,1255200,1257121,2511231,1254360,1256871,...,1209583,2378464,1169083,1209381,2377801,1168679,1209122,2376978,1168087,1208891

In [7]:
df_kosis.tail()

,행정구역(시군구)별,2011.01,2011.01.1,2011.01.2,2011.02,2011.02.1,2011.02.2,2011.03,2011.03.1,2011.03.2,...,2023.07.2,2023.08,2023.08.1,2023.08.2,2023.09,2023.09.1,2023.09.2,2023.10,2023.10.1,2023.10.2
14,전라북도,1868745,931489,937256,1868363,931323,937040,1868476,931437,937039,...,884710,1759815,875839,883976,1758661,875353,883308,1757295,874659,882636
15,전라남도,1916912,957989,958923,1914191,956670,957521,1914176,956526,957650,...,897996,1808339,911340,896999,1807295,910810,896485,1805823,910179,895644
16,경상북도,2688586,1350687,1337899,2687178,1349953,1337225,2687521,1350106,1337415,...,1269486,2561623,1293508,1268115,2559924,1292868,1267056,2558085,1292163,1265922
17,경상남도,3291435,1656488,1634947,3291281,1656537,1634744,3293002,1657395,1635607,...,1619300,3258309,1640552,1617757,3257009,1639932,1617077,3255239,1638978,1616261
18,제주특별자치도,571468,285659,285809,571913,285883,286030,572447,286152,286295,...,337967,676489,338622,337867,676317,338514,337803,676119,338391,337728

In [9]:
df_kosis.info()    # 행개수, 컬럼개수 등등 알려줌

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19 entries, 0 to 18
Columns: 463 entries, 행정구역(시군구)별 to 2023.10.2
dtypes: object(463)
memory usage: 68.9+ KB

In [11]:
df_kosis.shape

(19, 463)

In [14]:
pd.options.display.max_columns=829

In [20]:
# 모든 컬럼들이 보이도록 설정한다.
df_kosis.head(3)

,행정구역(시군구)별,2011.01,2011.01.1,2011.01.2,2011.02,2011.02.1,2011.02.2,2011.03,2011.03.1,2011.03.2,2011.04,2011.04.1,2011.04.2,2011.05,2011.05.1,2011.05.2,2011.06,2011.06.1,2011.06.2,2011.07,2011.07.1,2011.07.2,2011.08,2011.08.1,2011.08.2,2011.09,2011.09.1,2011.09.2,2011.10,2011.10.1,2011.10.2,2011.11,2011.11.1,2011.11.2,2011.12,2011.12.1,2011.12.2,2012.01,2012.01.1,2012.01.2,2012.02,2012.02.1,2012.02.2,2012.03,2012.03.1,2012.03.2,2012.04,2012.04.1,2012.04.2,2012.05,2012.05.1,2012.05.2,2012.06,2012.06.1,2012.06.2,2012.07,2012.07.1,2012.07.2,2012.08,2012.08.1,2012.08.2,2012.09,2012.09.1,2012.09.2,2012.10,2012.10.1,2012.10.2,2012.11,2012.11.1,2012.11.2,2012.12,2012.12.1,2012.12.2,2013.01,2013.01.1,2013.01.2,2013.02,2013.02.1,2013.02.2,2013.03,2013.03.1,2013.03.2,2013.04,2013.04.1,2013.04.2,2013.05,2013.05.1,2013.05.2,2013.06,2013.06.1,2013.06.2,2013.07,2013.07.1,2013.07.2,2013.08,2013.08.1,2013.08.2,2013.09,2013.09.1,2013.09.2,2013.10,2013.10.1,2013.10.2,2013.11,2013.11.1,2013.11.2,2013.12,2013.12.1,2013.12.2,2014.01,2014.01.1,2014.01.2,2014.02,2014.02.1,2014.02.2,2014.03,2014.03.1,2014.03.2,2014.04,2014.04.1,2014.04.2,2014.05,2014.05.1,2014.05.2,2014.06,2014.06.1,2014.06.2,2014.07,2014.07.1,2014.07.2,2014.08,2014.08.1,2014.08.2,2014.09,2014.09.1,2014.09.2,2014.10,2014.10.1,2014.10.2,2014.11,2014.11.1,2014.11.2,2014.12,2014.12.1,2014.12.2,2015.01,2015.01.1,2015.01.2,2015.02,2015.02.1,2015.02.2,2015.03,2015.03.1,2015.03.2,2015.04,2015.04.1,2015.04.2,2015.05,2015.05.1,2015.05.2,2015.06,2015.06.1,2015.06.2,2015.07,2015.07.1,2015.07.2,2015.08,2015.08.1,2015.08.2,2015.09,2015.09.1,2015.09.2,2015.10,2015.10.1,2015.10.2,2015.11,2015.11.1,2015.11.2,2015.12,2015.12.1,2015.12.2,2016.01,2016.01.1,2016.01.2,2016.02,2016.02.1,2016.02.2,2016.03,2016.03.1,2016.03.2,2016.04,2016.04.1,2016.04.2,2016.05,2016.05.1,2016.05.2,2016.06,2016.06.1,2016.06.2,2016.07,2016.07.1,2016.07.2,2016.08,2016.08.1,2016.08.2,2016.09,2016.09.1,2016.09.2,2016.10,2016.10.1,2016.10.2,2016.11,2016.11.1,2016.11.2,2016.12,2016.12.1,2016.12.2,2017.01,2017.01.1,2017.01.2,2017.02,2017.02.1,2017.02.2,2017.03,2017.03.1,2017.03.2,2017.04,2017.04.1,2017.04.2,2017.05,2017.05.1,2017.05.2,2017.06,2017.06.1,2017.06.2,2017.07,2017.07.1,2017.07.2,2017.08,2017.08.1,2017.08.2,2017.09,2017.09.1,2017.09.2,2017.10,2017.10.1,2017.10.2,2017.11,2017.11.1,2017.11.2,2017.12,2017.12.1,2017.12.2,2018.01,2018.01.1,2018.01.2,2018.02,2018.02.1,2018.02.2,2018.03,2018.03.1,2018.03.2,2018.04,2018.04.1,2018.04.2,2018.05,2018.05.1,2018.05.2,2018.06,2018.06.1,2018.06.2,2018.07,2018.07.1,2018.07.2,2018.08,2018.08.1,2018.08.2,2018.09,2018.09.1,2018.09.2,2018.10,2018.10.1,2018.10.2,2018.11,2018.11.1,2018.11.2,2018.12,2018.12.1,2018.12.2,2019.01,2019.01.1,2019.01.2,2019.02,2019.02.1,2019.02.2,2019.03,2019.03.1,2019.03.2,2019.04,2019.04.1,2019.04.2,2019.05,2019.05.1,2019.05.2,2019.06,2019.06.1,2019.06.2,2019.07,2019.07.1,2019.07.2,2019.08,2019.08.1,2019.08.2,2019.09,2019.09.1,2019.09.2,2019.10,2019.10.1,2019.10.2,2019.11,2019.11.1,2019.11.2,2019.12,2019.12.1,2019.12.2,2020.01,2020.01.1,2020.01.2,2020.02,2020.02.1,2020.02.2,2020.03,2020.03.1,2020.03.2,2020.04,2020.04.1,2020.04.2,2020.05,2020.05.1,2020.05.2,2020.06,2020.06.1,2020.06.2,2020.07,2020.07.1,2020.07.2,2020.08,2020.08.1,2020.08.2,2020.09,2020.09.1,2020.09.2,2020.10,2020.10.1,2020.10.2,2020.11,2020.11.1,2020.11.2,2020.12,2020.12.1,2020.12.2,2021.01,2021.01.1,2021.01.2,2021.02,2021.02.1,2021.02.2,2021.03,2021.03.1,2021.03.2,2021.04,2021.04.1,2021.04.2,2021.05,2021.05.1,2021.05.2,2021.06,2021.06.1,2021.06.2,2021.07,2021.07.1,2021.07.2,2021.08,2021.08.1,2021.08.2,2021.09,2021.09.1,2021.09.2,2021.10,2021.10.1,2021.10.2,2021.11,2021.11.1,2021.11.2,2021.12,2021.12.1,2021.12.2,2022.01,2022.01.1,2022.01.2,2022.02,2022.02.1,2022.02.2,2022.03,2022.03.1,2022.03.2,2022.04,2022.04.1,2022.04.2,2022.05,2022.05.1,2022.05.2,2022.06,2022.06.1,2022.06.2,2022.07,2022.07.1,2022.07.2,2022.08,2022.08.1,2022.08.2,2022.09,2022.09.1,2022.09.2,2022.10,2022.10.1,2022.10.2,2022.11,2022.11.1,2022.11.2,2022.12,2022.12.1,2022.12.2,2023.01,2023.01.1,2023.01.2,2023.02,2023.02.1,2023.02.2,2023.03,2023.03.1,2023.03.2,2023.04,2023.04.1,2023.04.2,2023.05,2023.05.1,2023.05.2,2023.06,2023.06.1,2023.06.2,2023.07,2023.07.1,2023.07.2,2023.08,2023.08.1,2023.08.2,2023.09,2023.09.1,2023.09.2,2023.10,2023.10.1,2023.10.2
0,행정구역(시군구)별,총인구수 (명),남자인구수 (명),여자인구수 (명),총인구수 (명),남자인구수 (명),여자인구수 (명),총인구수 (명),남자인구수 (명),여자인구수 (명),총인구수 (명),남자인구수 (명),여자인구수 (명),총인구수 (명),남자인구수 (명),여자인구수 (명),총인구수 (명),남자인구수 (명),여자인구수 (명),총인구수 (명),남자인구수 (명),여자인구수 (명),총인구수 (명),남자인구수 (명),여자인구수 (명),총인구수 (명),남자인구수 (명),여자인구수 (명),총인구수 (명),남자인구수 (명),여자인구수 (명),총인구수 (명),남자인구수 (명),여자인구수 (명),총인구수 (명),남자인구수 (명),여자인구수 (명),총인구수 (명),남자인구수 (명),여자인구수 (명),총인구수 (명),남자인구수 (명),여자인구수 (명),총인구수 (명),남자인구수 (명),여자인구수 (명),총인구수 (명),남자인구수 (명),여자인구수 (명),총인구수 (명),남자인구수 (명),여자인구수 (명),총인구수 (명),남자인구수 (명),여자인구수 (명),총인구수 (명),남자인구수 (명),여자인구수 (명),총인구수 (명),남자인구수 (명),여자인구수 (명),총인구수 (명),남자인구수 (명),여자인구수 (명),총인구수 (명),남자인구수 (명),여자인구수 (명),총인구수 (명),남자인구수 (명),여자인구수 (명),총인구수 (명),남자인구수 (명),여자인구수 (명),총인구수 (명),남자인구수 (명),여자인구수 (명),총인구수 (명),남자인구수 (명),여자인구수 (명),총인구수 (명),남자인구수 (명),여자인구수 (명),총인구수 (명),남자인구수 (명),여자인구수 (명),총인구수 (명),남자인구수 (명),여자인구수 (명),총인구수 (명),남자인구수 (명),여자인구수 (명),총인구수 (명),남자인구수 (명),여자인구수 (명),총인구수 (명),남자인구수 (명),여자인구수 (명),총인구수 (명),남자인구수 (명),여자인구수 (명),총인구수 (명),남자인구수 (명),여자인구수 (명),총인구수 (명),남자인구수 (명),여자인구수 (명),총인구수 (명),남자인구수 (명),여자인구수 (명),총인구수 (명),남자인구수 (명),여자인구수 (명),총인구수 (명),남자인구수 (명),여자인구수 (명),총인구수 (명),남자인구수 (명),여자인구수 (명),총인구수 (명),남자인구수 (명),여자인구수 (명),총인구수 (명),남자인구수 (명),여자인구수 (명),총인구수 (명),남자인구수 (명),여자인구수 (명),총인구수 (명),남자인구수 (명),여자인구수 (명),총인구수 (명),남자인구수 (명),여자인구수 (명),총인구수 (명),남자인구수 (명),여자인구수 (명),총인구수 (명),남자인구수 (명),여자인구수 (명),총인구수 (명),남자인구수 (명),여자인구수 (명),총인구수 (명),남자인구수 (명),여자인구수 (명),총인구수 (명),남자인구수 (명),여자인구수 (명),총인구수 (명),남자인구수 (명),여자인구수 (명),총인구수 (명),남자인구수 (명),여자인구수 (명),총인구수 (명),남자인구수 (명),여자인구수 (명),총인구수 (명),남자인구수 (명),여자인구수 (명),총인구수 (명),남자인구수 (명),여자인구수 (명),총인구수 (명),남자인구수 (명),여자인구수 (명),총인구수 (명),남자인구수 (명),여자인구수 (명),총인구수 (명),남자인구수 (명),여자인구수 (명),총인구수 (명),남자인구수 (명),여자인구수 (명),총인구수 (명),남자인구수 (명),여자인구수 (명),총인구수 (명),남자인구수 (명),여자인구수 (명),총인구수 (명),남자인구수 (명),여자인구수 (명),총인구수 (명),남자인구수 (명),여자인구수 (명),총인구수 (명),남자인구수 (명),여자인구수 (명),총인구수 (명),남자인구수 (명),여자인구수 (명),총인구수 (명),남자인구수 (명),여자인구수 (명),총인구수 (명),남자인구수 (명),여자인구수 (명),총인구수 (명),남자인구수 (명),여자인구수 (명),총인구수 (명),남자인구수 (명),여자인구수 (명),총인구수 (명),남자인구수 (명),여자인구수 (명),총인구수 (명),남자인구수 (명),여자인구수 (명),총인구수 (명),남자인구수 (명),여자인구수 (명),총인구수 (명),남자인구수 (명),여자인구수 (명),총인구수 (명),남자인구수 (명),여자인구수 (명),총인구수 (명),남자인구수 (명),여자인구수 (명),총인구수 (명),남자인구수 (명),여자인구수 (명),총인구수 (명),남자인구수 (명),여자인구수 (명),총인구수 (명),남자인구수 (명),여자인구수 (명),총인구수 (명),남자인구수 (명),여자인구수 (명),총인구수 (명),남자인구수 (명),여자인구수 (명),총인구수 (명),남자인구수 (명),여자인구수 (명),총인구수 (명),남자인구수 (명),여자인구수 (명),총인구수 (명),남자인구수 (명),여자인구수 (명),총인구수 (명),남자인구수 (명),여자인구수 (명),총인구수 (명),남자인구수 (명),여자인구수 (명),총인구수 (명),남자인구수 (명),여자인구수 (명),총인구수 (명),남자인구수 (명),여자인구수 (명),총인구수 (명),남자인구수 (명),여자인구수 (명),총인구수 (명),남자인구수 (명),여자인구수 (명),총인구수 (명),남자인구수 (명),여자인구수 (명),총인구수 (명),남자인구수 (명),여자인구수 (명),총인구수 (명),남자인구수 (명),여자인구수 (명),총인구수 (명),남자인구수 (명),여자인구수 (명),총인구수 (명),남자인구수 (명),여자인구수 (명),총인구수 (명),남자인구수 (명),여자인구수 (명),총인구수 (명),남자인구수 (명),여자인구수 (명),총인구수 (명),남자인구수 (명),여자인구수 (명),총인구수 (명),남자인구수 (명),여자인구수 (명),총인구수 (명),남자인구수 (명),여자인구수 (명),총인구수 (명),남자인구수 (명),여자인구수 (명),총인구수 (명),남자인구수 (명),여자인구수 (명),총인구수 (명),남자인구수 (명),여자인구수 (명),총인구수 (명),남자인구수 (명),여자인구수 (명),총인구수 (명),남자인구수 (명),여자인구수 (명),총인구수 (명),남자인구수 (명),여자인구수 (명),총인구수 (명),남자인구수 (명),여자인구수 (명),총인구수 (명),남자인구수 (명),여자인구수 (명),총인구수 (명),남자인구수 (명),여자인구수 (명),총인구수 (명),남자인구수 (명),여자인구수 (명),총인구수 (명),남자인구수 (명),여자인구수 (명),총인구수 (명),남자인구수 (명),여자인구수 (명),총인구수 (명),남자인구수 (명),여자인구수 (명),총인구수 (명),남자인구수 (명),여자인구수 (명),총인구수 (명),남자인구수 (명),여자인구수 (명),총인구수 (명),남자인구수 (명),여자인구수 (명),총인구수 (명),남자인구수 (명),여자인구수 (명),총인구수 (명),남자인구수 (명),여자인구수 (명),총인구수 (명),남자인구수 (명),여자인구수 (명),총인구수 (명),남자인구수 (명),여자인구수 (명),총인구수 (명),남자인구수 (명),여자인구수 (명),총인구수 (명),남자인구수 (명),여자인구수 (명),총인구수 (명),남자인구수 (명),여자인구수 (명),총인구수 (명),남자인구수 (명),여자인구수 (명),총인구수 (명),남자인구수 (명),여자인구수 (명),총인구수 (명),남자인구수 (명),여자인구수 (명),총인구수 (명),남자인구수 (명),여자인구수 (명),총인구수 (명),남자인구수 (명),여자인구수 (명),총인구수 (명),남자인구수 (명),여자인구수 (명),총인구수 (명),남자인구수 (명),여자인구수 (명),총인구수 (명),남자인구수 (명),여자인구수 (명),총인구수 (명),남자인구수 (명),여자인구수 (명),총인구수 (명),남자인구수 (명),여자인구수 (명),총인구수 (명),남자인구수 (명),여자인구수 (명),총인구수 (명),남자인구수 (명),여자인구수 (명),총인구수 (명),남자인구수 (명),여자인구수 (명),총인구수 (명),남자인구수 (명),여자인구수 (명),총인구수 (명),남자인구수 (명),여자인구수 (명),총인구수 (명),남자인구수 (명),여자인구수 (명),총인구수 (명),남자인구수 (명),여자인구수 (명),총인구수 (명),남자인구수 (명),여자인구수 (명),총인구수 (명),남자인구수 (명),여자인구수 (명),총인구수 (명),남자인구수 (명),여자인구수 (명),총인구수 (명),남자인구수 (명),여자인구수 (명),총인구수 (명),남자인구수 (명),여자인구수 (명),총인구수 (명),남자인구수 (명),여자인구수 (명),총인구수 (명),남자인구수 (명),여자인구수 (명),총인구수 (명),남자인구수 (명),여자인구수 (명),총인구수 (명),남자인구수 (명),여자인구수 (명),총인구수 (명),남자인구수 (명),여자인구수 (명),총인구수 (명),남자인구수 (명),여자인구수 (명),총인구수 (명),남자인구수 (명),여자인구수 (명),총인구수 (명),남자인구수 (명),여자인구수 (명),총인구수 (명),남자인구수 (명),여자인구수 (명),총인구수 (명),남자인구수 (명),여자인구수 (명),총인구수 (명),남자인구수 (명),여자인구수 (명)
1,전국,50534731,25318961,25215770,50555262,25328299,25226963,50575130,25337290,25237840,50594424,25346019,25248405,50613213,25354703,25258510,50627347,25359936,25267411,50641565,25366218,25275347,50662739,25375626,25287113,50681829,25384115,25297714,50699478,25391900,25307578,50717719,25399757,25317962,50734284,25406934,25327350,50750837,25414026,25336811,50767313,25421655,25345658,50783029,25429184,25353845,50801531,25437643,25363888,50819380,25445721,25373659,50832898,25452027,25380871,50851082,25460414,25390668,50871606,25469682,25401924,50891223,25478622,25412601,50912264,25488080,25424184,50930805,25496262,25434543,50948272,25504060,25444212,50965180,25511490,25453690,50991003,25523833,25467170,51003843,25529381,25474462,51018468,25535573,25482895,51034494,25542576,25491918,51047880,25548288,25499592,51064841,25555792,25509049,51081507,25562816,25518691,51098531,25570198,25528333,51115702,25577637,25538065,51127984,25582749,25545235,51141463,25588336,25553127,51156168,25594653,25561515,51171176,25601055,25570121,51185882,25607390,25578492,51202130,25614648,25587482,51218424,25621971,25596453,51233579,25628547,25605032,51250261,25635765,25614496,51266779,25643094,25623685,51284774,25651006,25633768,51302044,25658417,25643627,51314683,25663668,25651015,51327916,25669296,25658620,51342881,25675816,25667065,51360454,25683724,25676730,51378174,25691721,25686453,51395238,25699428,25695810,51413925,25707941,25705984,51431100,25715304,25715796,51448183,25722769,25725414,51465228,25730212,25735016,51482816,25738014,25744802,51500986,25746132,25754854,51515399,25752345,25763054,51529338,25758186,25771152,51541582,25763237,25778345,51555409,25769138,25786271,51569536,25775322,25794214,51584349,25781628,25802721,51601265,25788953,25812312,51619330,25796204,25823126,51634618,25802692,25831926,51649552,25809031,25840521,51664244,25815202,25849042,51677054,25820488,25856566,51687682,25824429,25863253,51696216,25827594,25868622,51704332,25830890,25873442,51712221,25833963,25878258,51714935,25833566,25881369,51722903,25836516,25886387,51732586,25840361,25892225,51736224,25840911,25895313,51744948,25844117,25900831,51753820,25847379,25906441,51762492,25850675,25911817,51769092,25852884,25916208,51774649,25854608,25920041,51778544,25855919,25922625,51779148,25855611,25923537,51779892,25855513,25924379,51784669,25856654,25928015,51790131,25857963,25932168,51796179,25859449,25936730,51801449,25861116,25940333,51806977,25862378,25944599,51812153,25863568,25948585,51817851,25865557,25952294,51821881,25866067,25955814,51824477,25866371,25958106,51826059,25866129,25959930,51826287,25865518,25960769,51829538,25866255,25963283,51833175,25866984,25966191,51836763,25867727,25969036,51840339,25868330,25972009,51842636,25868406,25974230,51845612,25868638,25976974,51847538,25868377,25979161,51849253,25868023,25981230,51850705,25867179,25983526,51851427,25866604,25984823,51849861,25864816,25985045,51847509,25862863,25984646,51844627,25860491,25984136,51843195,25858743,25984452,51842524,25857509,25985015,51841371,25856030,25985341,51839408,25853937,25985471,51839852,25852796,25987056,51839953,25851388,25988565,51841786,25851003,25990783,51838016,25847719,25990297,51834302,25844667,25989635,51829023,25841029,25987994,51825932,25838512,25987420,51824142,25836561,25987581,51705905,25787390,25918515,51702100,25784538,25917562,51683025,25775853,25907172,51672400,25770033,25902367,51671569,25768310,25903259,51669716,25766031,25903685,51667688,25763891,25903797,51662290,25760238,25902052,51652704,25754446,25898258,51638809,25746684,25892125,51632473,25742528,25889945,51625561,25738197,25887364,51610695,25730584,25880111,51592660,25721053,25871607,51583722,25715591,25868131,51578178,25711784,25866394,51574446,25708650,25865796,51558441,25699579,25858862,51466658,25653998,25812660,51459626,25649509,25810117,51450829,25643889,25806940,51439038,25636951,25802087,51430018,25631538,25798480,51421479,25626211,25795268,51414281,25621573,25792708,51408155,25617485,25790670,51400521,25612361,25788160,51392745,25607244,25785501,51387133,25603147,25783986,51377213,25596921,25780292,51370001,25592335,25777666,51354226,25582773,25771453
2,서울특별시,10312835,5110837,5201998,10314245,5110818,5203427,10307783,5107011,5200772,10301829,5103919,5197910,10295643,5100399,5195244,10288284,5095751,5192533,10282472,5092201,5190271,10277507,5089493,5188014,10271880,5086210,5185670,10266174,5082622,5183552,10257741,5078105,5179636,10249679,5073899,5175780,10250134,5073567,5176567,10251297,5073607,5177690,10245782,5070498,5175284,10241387,5068038,5173349,10237054,5065291,5171763,10232281,5062494,5169787,10227761,5059710,5168051,10223243,5057182,5166061,10219334,5054851,5164483,10212445,5050639,5161806,10205843,5047103,5158740,10195318,5041336,5153982,10195064,5040263,5154801,10196434,5039921,5156513,10192057,5037288,5154769,10185955,5033615,5152340,10181807,5030777,5151030,10176560,5027540,5149020,10172002,5024805,5147197,10168997,5022491,5146506,10166691,5020717,5145974,10162099,5017958,5144141,10154180,5013816,5140364,10143645,5007869,5135776,10143164,5007016,5136148,10144173,5006461,5137712,10141727,5004714,5137013,10137313,5002036,5135277,10133734,4999497,5134237,10129223,4996391,5132832,10125912,4994112,5131800,10124243,4992925,5131318,10122661,4991568,5131093,10117909,4988547,5129362,10112156,4984988,5127168,10103233,4979768,5123465,10104515,4979523,5124992,10105206,4979040,5126166,10100987,4976047,5124940,10094889,4972616,5122273,10088393,4968609,5119784,10078850,4962774,5116076,10071654,4958550,5113104,10063197,4953797,5109400,10055027,4949180,5105847,10045027,4943565,5101462,10035597,4938482,5097115,10022181,4930943,5091238,10018537,4927897,5090640,10014261,4924977,5089284,10009588,4922103,5087485,10002979,4918312,5084667,9995784,4914078,5081706,9989795,4910202,5079593,9981673,4905463,5076210,9971111,4899436,5071675,9964291,4895508,5068783,9954791,4890007,5064784,9943333,4883805,5059528,9930616,4876789,5053827,9930478,4875745,5054733,9931412,4874839,5056573,9926968,4871560,5055408,9922745,4868367,5054378,9919016,4865778,5053238,9914381,4862573,5051808,9908612,4859039,5049573,9902072,4855013,5047059,9891448,4849195,5042253,9882810,4844555,5038255,9870167,4837345,5032822,9857426,4830206,5027220,9851767,4826345,5025422,9845336,4822071,5023265,9838892,4817507,5021385,9830452,4812514,5017938,9820971,4806841,5014130,9814049,4802769,5011280,9806538,4798255,5008283,9799075,4793529,5005546,9793003,4789821,5003182,9784112,4784674,4999438,9774088,4778917,4995171,9765623,4773899,4991724,9766288,4772822,4993466,9770638,4773605,4997033,9770216,4772134,4998082,9766886,4769474,4997412,9762062,4766085,4995977,9757144,4762711,4994433,9751415,4759105,4992310,9744888,4754998,4989890,9740398,4751696,4988702,9736289,4749055,4987234,9732577,4746636,4985941,9729107,4744059,4985048,9733509,4745088,4988421,9736962,4745133,4991829,9733655,4742217,4991438,9726787,4737843,4988944,9724496,4735431,4989065,9720846,4732275,4988571,9715429,4728872,4986557,9708247,4724585,4983662,9699232,4719170,4980062,9689159,4713716,4975443,9679771,4708321,4971450,9668465,4701723,4966742,9657969,4695999,4961970,9648606,4690282,4958324,9598484,4667524,4930960,9588711,4661711,4927000,9575355,4654720,4920635,9565990,4649442,4916548,9558153,4645177,4912976,9550227,4640740,4909487,9542256,4636069,4906187,9532428,4630630,4901798,9520880,4624290,4896590,9509458,4618040,4891418,9505926,4615631,4890295,9508451,4615823,4892628,9506778,4613910,4892868,9500480,4610082,4890398,9496887,4607440,4889447,9494807,4605655,4889152,9493211,4604405,4888806,9488454,4601295,4887159,9450768,4582361,4868407,9443722,4578459,4865263,9436836,4574781,4862055,9428372,4570048,4858324,9424873,4567739,4857134,9427583,4567957,4859626,9426404,4566299,4860105,9422710,4563512,4859198,9418885,4560702,4858183,9414093,4557609,4856484,9411260,4555784,4855476,9409466,4554020,4855446,9407540,4552501,4855039,9400249,4548150,4852099

In [21]:
df = df_kosis.melt(id_vars='행정구역(시군구)별')
df

      행정구역(시군구)별   variable     value
0     행정구역(시군구)별    2011.01  총인구수 (명)
1             전국    2011.01  50534731
2          서울특별시    2011.01  10312835
3          부산광역시    2011.01   3566560
4          대구광역시    2011.01   2512071
...          ...        ...       ...
8773        전라북도  2023.10.2    882636
8774        전라남도  2023.10.2    895644
8775        경상북도  2023.10.2   1265922
8776        경상남도  2023.10.2   1616261
8777     제주특별자치도  2023.10.2    337728

[8778 rows x 3 columns]

In [23]:
df.shape

(8778, 3)

In [25]:
df['행정구역(시군구)별'].unique()

array(['행정구역(시군구)별', '전국', '서울특별시', '부산광역시', '대구광역시', '인천광역시', '광주광역시',
       '대전광역시', '울산광역시', '세종특별자치시', '경기도', '강원특별자치도', '충청북도', '충청남도',
       '전라북도', '전라남도', '경상북도', '경상남도', '제주특별자치도'], dtype=object)

In [30]:
#'행정구역(시군구)별' 아닌 데이터만 뽑아온다.
df = df[df['행정구역(시군구)별']!= '행정구역(시군구)별']. copy()
df

     행정구역(시군구)별   variable     value
1            전국    2011.01  50534731
2         서울특별시    2011.01  10312835
3         부산광역시    2011.01   3566560
4         대구광역시    2011.01   2512071
5         인천광역시    2011.01   2761122
...         ...        ...       ...
8773       전라북도  2023.10.2    882636
8774       전라남도  2023.10.2    895644
8775       경상북도  2023.10.2   1265922
8776       경상남도  2023.10.2   1616261
8777    제주특별자치도  2023.10.2    337728

[8316 rows x 3 columns]

In [33]:
df['행정구역(시군구)별'].unique()

array(['전국', '서울특별시', '부산광역시', '대구광역시', '인천광역시', '광주광역시', '대전광역시',
       '울산광역시', '세종특별자치시', '경기도', '강원특별자치도', '충청북도', '충청남도', '전라북도',
       '전라남도', '경상북도', '경상남도', '제주특별자치도'], dtype=object)

In [29]:
df.shape

(8316, 3)

In [35]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 8316 entries, 1 to 8777
Data columns (total 3 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   행정구역(시군구)별  8316 non-null   object
 1   variable    8316 non-null   object
 2   value       8316 non-null   object
dtypes: object(3)
memory usage: 259.9+ KB

In [36]:
df.head()

  행정구역(시군구)별 variable     value
1         전국  2011.01  50534731
2      서울특별시  2011.01  10312835
3      부산광역시  2011.01   3566560
4      대구광역시  2011.01   2512071
5      인천광역시  2011.01   2761122

In [37]:
df.sample(5)

     행정구역(시군구)별   variable     value
511        경상남도  2011.09.2   1641587
7259         전국  2021.08.1  25766031
6054       충청북도    2019.11   1599651
3018       경상북도  2015.05.2   1342579
398     제주특별자치도  2011.07.2    287172